h1 {
  color: #1b85b8;
  font-size: 40px;
  font-family: sans-serif;
  margin-top: 2em;
  margin-bottom: 1em;
}

h2 {
  color: #104f6e;
  font-size: 30px;
  font-family: sans-serif;
  margin-top: 1em;
  margin-bottom: 1em;
}

h3 {
  color: #5cb85c;
  font-size: 25px;
  font-family: sans-serif;
  margin-top: 2em;
}

h4 {
  color: #ae5a41;
  margin-bottom: 1em;
}

h5 {
  margin-top: 2em;
  font-weight: bold;
}

p {
  font-size: 20px;
  font-family: sans-serif;
}

.card-title {
  color: #2a4f41;
  font-weight: bold;
}

.card {
  margin-bottom: 1em;
}

.use {
  color: #2a4f41;
  font-weight: light;
}

li {
  font-size: 20px;
  font-family: sans-serif;
}

.btn {
  background-color: #1b85b8;
}

.photo {
  margin-right: 20px;
  margin-bottom: 5px;
  border: 10px;
  border-style: solid;
  border-color: #192f27;
  padding: 7px;
  border-radius: 10px;
  float: left;
}

.photo-right {
  margin-left: 20px;
  margin-bottom: 5px;
  border: 10px;
  border-style: solid;
  border-color: #192f27;
  padding: 7px;
  border-radius: 10px;
  float: right;
}

p.description {
  font-size: 18px;
}

.content-box {
  margin-bottom: 20px;
  padding: 15px;
}

.bordered {
  border-bottom-width: 0px;
  border-top-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-style: solid;
  border-color: #903636;
  padding-top: 15px;
}

.colored-background {
  background-color: #d1e6f0
}
